# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/App.framework.zip
android/app/src/main/java/io/flutter/plugins/
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# OS
.DS_Store
